@import "reset.css";
/*引入css文件的一种方式*/
/*

-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#99ffffff,endColorstr=#99ffffff)";
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff,endColorstr=#99ffffff);
background:rgba(255,255,255,.8);


 filter:alpha(opacity=40); 针对 IE8 以及更早的版本 */
body
	font-size 16Px
	font-family arial,'micrsoft Yahei'
	user-select none
.header
	height 48px
	overflow hidden
	.wrap
		transform translate(0, -50%)
		transition 0.3s
		&.active
			transform translate(0, 0)
	.search-box
	.default
		height 48px
	.search-box
		display flex
		.close
		.search
			width 48px
			background none
			outline none
			border none
			display flex
			align-items center
			justify-content center
			img
				width 44px
		.search
			background url('../img/67646445cb3cc0ee059a4f6712fbaa33-44+44.svg') left center/44px auto no-repeat
		.text
			flex 1 1 auto 
			border none
			outline none
			font-size 12px
			padding-left 20px
			box-sizing border-box
			&::placeholder
				font-size 12px
				color #9b9b9b
		input
			height 100%
	.default
		display flex
		justify-content space-between
		.search
		.user
			width 48px
			display flex
			align-items center
			justify-content center
			img
				display block
				width 44px
		.brand
			display flex
			align-items center
			justify-content center
			img
				display block
				height 40px
.nav
	display flex
	font-size 14px
	color #000000
	line-height 40px
	text-align center
	border-top 1px solid #d8d8d8
	border-bottom 1px solid #d8d8d8
	a
		display block
		flex 1
		display flex
		span
			display block
			margin 0 auto
	.menu
		padding-right 20px
		position relative
		&.active
			&:after
				transform translateY(-50%) rotateZ(0)	
		&:after
			content ''
			position absolute
			right 0
			top 50%
			width 20px
			height 20px
			transform translateY(-50%) rotateZ(90deg)
			background url('../img/82bfa42ab12f5da394c7a585f67e7e41-44+44.svg') center center/20px auto no-repeat
			transition 0.3s

.main
	.banner
		&.black
			.swiper-pagination
				span
					background #000000	
		a
		img
			display block
			width 100%
		.swiper-pagination
			span
				background #fff
				&.swiper-pagination-bullet-active
					opacity 1
	.child-menu
		padding 4px
		a
			margin 4px
			display flex
			width calc(100% - 8px)
			height 48px
			align-items center
			justify-content center
			font-size 16px
			color #000000
			border-radius 7px
			background #efefef
			img
				display block
				width 32px
	.hot
		padding-bottom 16px
		h3
			padding 22px 0 32px 0
			font-size 24px
			color #d59ea5
			text-align center
		a
			display block
			width 150px
			margin 0 auto
			.pic
				img
					display block
					width 100%
			h4
			.cost
				white-space nowrap
				width 95%
				margin 0 auto
				overflow hidden
				text-overflow ellipsis
				font-size 16px
				color #000000
				line-height 26px
				text-align center
		.swiper-pagination
			span
				background #fff
				&.swiper-pagination-bullet-active
					opacity 1
	.card
		position relative
		margin 16px 8px 0
		h3
			position absolute
			top 11px
			left 14px
			font-size 16px
			color #4a4a4a
			line-height 1
			z-index 2
			font-weight bold
		p
			position absolute
			top 42px
			left 12px
			font-size 24px
			color #4a4a4a
			line-height 1
		.item
			a
			img
				display block
				width 100%
				border-radius 5px
		.swiper-pagination
			span
				background #fff
				&.swiper-pagination-bullet-active
					opacity 1
	.contact-us
		margin-top 16px
		display flex
		height 48px
		justify-content flex-start
		align-items center
		border-top 1px solid #d8d8d8
		border-bottom 1px solid #d8d8d8
		a
			display block
			width 32px
			margin-left 8px
			img
				display block
				width 100%
	.subscribe
		padding 8px
		.form
			display flex
			border 1px solid #979797
		input
			display block
			border none
			outline none
			background none
			height 40px
		.text
			flex 1 1 auto
			padding-left 16px
			font-size 16px
		.submit
			flex 0 0 40px
			width 40px
			background url('../img/0e0bea92295bdf145af72a9e00e2cee2-44+44.svg') center center/40px auto no-repeat
	.product-list-type
		padding 4px
		border-bottom 1px solid #d8d8d8
		.swiper-slide
			width 88px
			a
				display block
				margin 4px
				width calc(100% - 8px)
				height 40px
				font-size 14px
				color #4a4a4a
				background #e8dada
				text-align center
				line-height 40px
				border-radius 6px
				transition 0.3s
				overflow hidden
				text-overflow ellipsis
				white-space nowrap
				&:hover
					color #ffffff
					background #d6b9bc
	.product-list-container
		display flex
		justify-content space-between
		padding 16px 16px 0
		flex-wrap wrap
		a
			margin-bottom 16px
			display block
			width 160px
			.pic
				position relative
				img
					display block
					width 100%
				.new
					position absolute
					left 0
					bottom 0
					width 35px
					height 18px
					border-radius 9px
					font-size 10px
					color #ffffff
					background #d59ea5
					text-align center
					line-height 18px
			h4
				padding-top 8px
				font-size 13px
				color #4a4a4a
				line-height 19px
			.cost
				font-size 13px
				color #4a4a4a
				line-height 2
	.product-details
		padding 0 8px
		.name
		.cost
		.id
			padding-top 8px
			font-size 16px
			color #000000
			line-height 24px
		.id
			
			font-size 10px
			text-align right
			line-height 16px
			border-bottom 1px solid #d8d8d8
		.shop
			margin-top 16px
			display block
			border-radius 4px
			font-size 14px
			color #ffffff
			line-height 44px
			background #b98d92
			text-align center
		.product-info
			padding-top 77px
			.introduction
				padding-bottom 8px
				margin-bottom 16px
				font-size 16px
				line-height 24px
				color #000000
				border-bottom 1px solid #d8d8d8
			p
				font-size 14px
				color #000000
				line-height 24px
			.pic
				padding-bottom 8px
				padding-top 30px
				img
					display block
					width 100%
				&+.pic
					padding-top 0
	.login-register
		background url('../img/259c83edf137cec62f30fd35b069f23d-750+1158.png') center top/cover no-repeat
		padding 24px 16px
		.container
			background #ffffff
			border-radius 8px
			.tabs-control
				font-size 16px
				color #4a4a4a
				.top
					padding 8px 0
					display flex
					a
						flex 1
						box-sizing border-box
						height 40px
						line-height 40px
						text-align center
						&+a
							border-left 1px solid #979797
				.bar
					position relative
					height 4px
					background #ededed
					span
						position absolute
						left 0
						top 0
						bottom 0
						background #d59ea5
						width 50%
						transition 0.3s
			.form
			.join-us
			.help-me
				display block
				padding 0 24px
			.form
				padding-top 24px
				.pt16
					padding-top 16px
				.mt8
					margin-top 8px
				.option
					display flex
					justify-content space-between
					font-size 14px
					color #4a4a4a
					line-height 16px
					height 16px
					input
						float left
					span
						padding-left 8px
						float left
				.m24-0
					margin 24px 0
				.radio-container
					display flex
					padding-bottom 7px
					.item
						flex 1
						text-align center
						font-size 14px
						color #4a4a4a
						height 20px
						line-height 20px
						label
							display flex
							align-items center
							justify-content center
						span
							display block
							padding-left 8px
				.pb6
					padding-bottom 6px
			.tips
				padding-bottom 15px
				padding-top 23px
				font-size 14px
				color #4a4a4a
				text-align center
				&.bdt
					border-top 1px solid #979797
				&.tal
					text-align left
			.join-us
				padding-bottom 50px
			.help-me
				.tips
					text-align left
				.btn-group
					padding 15px 0 22px
					display flex
					justify-content space-between
					a
						display flex
						justify-content center
						width 140px
						height 32px
						text-align center
						line-height 32px
						font-size 11px
						border-radius 4px
						background #e3e3e3
						span
							display block
							position relative
							padding-left 36px
							height 100%
							&:after
								content ''
								position absolute
								left 0
								top 0
								bottom 0
								width 32px
								background url('../img/d0cdfb9f40711f5f9deb53c63b97bc23-44+44.svg') left center/100% auto no-repeat
							&.line
								&:after
									background-image url('../img/5a6b1babcda919554346c42d2e5dd40a-44+44.svg')
			.register-complate
				padding 0 24px
				color #4a4a4a
				text-align center
				height calc(100vh - 50px - 40px - 48px)
				h3
					font-size 24px
					padding 15vh 0 6vh
				p
					font-size 16px
					line-height 36px
				.public-button
					margin-top 6vh
				
.public-label
	font-size 14px
	color #4a4a4a
	line-height 20px
.public-input
	padding 8px
	height 44px
	width 100%
	font-size 14px
	line-height 24px
	border 1px solid #979797
	box-sizing border-box
	outline none
	border-radius 5px
	appearance none
	&::placeholder
		color #9b9b9b
		font-family 'misrosoft Yahei'
.public-checkbox
	appearance none
	border 1px solid #979797
	border-radius 4px
	width 16px
	height 16px
	box-sizing border-box
	outline none
	&:checked
		background url('img/187d48749eb50f58ad71727f4e3ca622-24+18.png') center center/80% auto no-repeat
.public-button
	display block
	border-radius 4px
	height 44px
	width 100%
	font-size 14px
	color #ffffff
	text-align center
	line-height 44px
	background #b98d92
	border none
	outline none
.public-radio
	position relative
	appearance none
	border-radius 50%
	border 1px solid #979797
	width 16px
	height 16px
	outline none
	background #ffffff
	&:after
		content ''
		position absolute
		width 9px
		height 9px
		left 50%
		top 50%
		transform translate(-50%, -50%) scale(0)
		background #d59ea5
		transition 0.3s
		border-radius 50%
	&:checked
		&:after
			transform translate(-50%, -50%) scale(1)
.footer
	background url('../img/7527de8009d52092a45f569b36b26585-375+280.png') center top/cover no-repeat
	.nav
		padding-top 42px
		display block
		border none
		a
			margin-bottom 20px
			display block
			font-size 14px
			color #000000
			line-height 20px
	.copy-right
		padding-top 38px
		a
		p
			display block
			padding-bottom 10px
			font-size 12px
			line-height 1
			color #000000
			text-align center
			transform scale(0.8)
.por
	position relative
.z10
	z-index 10
.z11
	z-index 11
	background #ffffff
body.all-product-hide-main-footer
	.main
		display none
	.footer
		display none
.all-product
	// position absolute
	// top 0
	// left 0
	// right 0
	display flex
	flex-direction column
	background #ffffff
	display none
	.item
		position relative
		display flex
		height 70px
		padding 0 16px
		align-items center
		justify-content flex-start
		border-bottom 1px solid #d8d8d8
		&:after
			content ''
			position absolute
			right 16px
			width 20px
			height 20px
			background url('../img/82bfa42ab12f5da394c7a585f67e7e41-44+44.svg') center center/20px auto no-repeat
			transition 0.3s
			transform rotateZ(90deg)
		&.arrow-toggle
			&:after
				transform rotateZ(0)
		&+.por
			display none
		.pic
			width 40px
			img
				display block
				width 100%
		.content
			padding-left 17px
			font-size 14px
			color #000000
			line-height 20px
			small
				font-size 12px
				color #9b9b9b
	.child-content
		display flex
		box-sizing border-box
		justify-content space-between
		flex-wrap wrap
		background #f9f9f9
		overflow hidden
		padding 16px 16px 0
		a
			display block
			margin-bottom 16px
			width 163px
			height 48px
			line-height 48px
			font-size 14px
			color #4a4a4a
			text-align center
			transition 0.3s
			background #e8dada
			border-radius 6px
			&:hover
				color #ffffff
				background #d6b9bc
				



.layout-gotop
	position fixed
	bottom 20px
	right 0
	width 40px
	z-index 10
	transform translateX(100%)
	transition 0.3s
	&.active
		transform translateX(0)
	img
		display block
		width 40px


.public-number-select-plug
	margin-top 16px
	width 120px
	height 40px
	border 1px solid #d8d8d8
	display flex
	span
	input
		display block
		flex 1
		border none
		outline none
		width 40px
		text-align center
	input
		appearance none
		font-size 16px